.guitarra {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
.contenido {
  padding: 1rem;
}
.contenido h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary);
}
.descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-size: 1.8rem;
}
.precio {
  color: var(--secondary);
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}
.enlace {
  margin-top: 2rem;
  display: block;
  background-color: var(--secondary);
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 1.4rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}
.enlace:hover {
  background-color: var(--success);
}

.formulario {
  gap: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 2.2rem;
}

.formulario select {
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.formulario input[type="submit"] {
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondary);
  transition-property: background-color;
  transition-duration: 300ms;
}
.formulario input[type="submit"]:hover {
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}
